# Auth0 Configuration
REACT_APP_AUTH0_DOMAIN=dev-bktskx5kbc655wcl.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=INws849yDXaC6MZVXnLhMJi6CZC4nx6U
REACT_APP_AUTH0_REDIRECT_URI=https://localhost:3000/auth-callback.html
REACT_APP_AUTH0_AUDIENCE=INws849yDXaC6MZVXnLhMJi6CZC4nx6U

# API Configuration
REACT_APP_API_BASE_URL=http://localhost:9000
REACT_APP_API_URL=http://localhost:9000

# Frontend Configuration
REACT_APP_FRONTEND_URL=https://localhost:3000
